<template>
	<p>
		<a href="#" click.delegate="startListening()" class="btn btn-success" if.bind="!running"> <i class="glyphicon glyphicon-play"></i>
			Start listening
		</a>
		<a href="#" click.delegate="stopListening()" class="btn btn-danger" if.bind="running"> <i class="glyphicon glyphicon-stop"></i>
			Stop listening
		</a>
	</p>
	<div repeat.for="transcript of transcripts" class="panel panel-default msg-${transcript.type}">
		<div class="panel-heading" if.bind="transcript.displayName">
			<i class="glyphicon glyphicon-user"></i>
			${transcript.displayName}
		</div>
		<div class="panel-body">${transcript.text}</div>
	</div>
</template>