<template>
	<div class="se-screen">
		<!-- <div repeat.for="transcript of transcripts" class="panel panel-default msg-${transcript.type}">
			<div class="panel-heading" if.bind="transcript.displayName">
				<i class="glyphicon glyphicon-user"></i>
				${transcript.displayName}
			</div>
			<div class="panel-body">${transcript.text}</div>
		</div> -->
		<div repeat.for="transcript of transcripts" class="se-bubble se-msg-${transcript.type} se-speaker-${transcript.speaker.id}">
			${transcript.text}
		</div>
	</div>
</template>