.se-bubble {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	position: relative;
	opacity: 0;
	transition: opacity 500ms ease-in;

	&.se-bubble-added {
		opacity: 1;
	}

	&.se-msg-speech {
		&:after {
			content: " ";
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid transparent;
			position: absolute;
			bottom: -7px;
			left: 15px;
		}
	}

	&.se-msg-system {
		background-color: $gray-lighter;
		color: $text-dark;
	}

	&:nth-child(even) {
		&:after {
			left: auto;
			right: 15px;
		}
	}

	&.se-speaker-1 {
		background-color: $speaker-1-colour;
		color: $speaker-1-text-colour;

		&:after {
			border-top-color: $speaker-1-colour;
		}
	}

	&.se-speaker-2 {
		background-color: $speaker-2-colour;
		color: $speaker-2-text-colour;

		&:after {
			border-top-color: $speaker-2-colour;
		}
	}
}