.se-bubble {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	position: relative;
	opacity: 0;
	transition: ease-in opacity 1s;

	&.se-bubble-added {
		opacity: 1;
	}

	&:after {
		content: " ";
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid transparent;
		position: absolute;
		bottom: -7px;
		left: 15px;
	}

	&.se-speaker-1 {
		background-color: $red;
		color: $text-light;

		&:after {
			border-top-color: $red;
		}
	}

	&.se-speaker-2 {
		background-color: $blue;
		color: $text-dark;

		&:after {
			border-top-color: $blue;
		}
	}
}