$red: #EE2626;
$blue: #5BBEE4;
$orange: #FFAB31;
$grey: #F7FBFC;

$text-dark: #171614;
$text-light: white;

// $body-bg: #443266;
$text-color: white;
// $link-color: white;
$link-hover-color: white;
$link-hover-decoration: none;